a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    font-weight: 300;
    margin: 0;
    padding: 0
}

ul li {
    list-style-type: none
}

html {
    width: 100%;
    height: 100%
}

a, a:hover {
    text-decoration: none;
    outline: 0
}

img {
    max-width: 100%;
    -webkit-user-drag: none
}

button:focus {
    outline: 0
}

body {
    font-family: Poppins, sans-serif;
    float: left;
    color: #555;
    width: 100%;
    background-color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 700
}

@font-face {
    font-family: icomoon;
    src: url(fonts/icomoon.eot@3axbs0);
    src: url(fonts/icomoon.eot@3axbs0) format('embedded-opentype'), url(fonts/icomoon.ttf@3axbs0) format('truetype'), url(fonts/icomoon.woff@3axbs0) format('woff'), url(fonts/icomoon.svg@3axbs0) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ico_bank:before {
    content: "\e900"
}

.icon-ico_search:before {
    content: "\e901"
}

.icon-ico_time:before {
    content: "\e902"
}

.featured-partners {
    display: none
}

.form-box {
    min-height: 320px !important;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
    margin-top: 0;
    border: 3px solid #565656;
    position: relative;
    z-index: 2
}

#tcpa_label {
    font-size: 12px !important
}

.progress-box {
    width: 100%;
    border-radius: 20px;
    background: #d1d1d1;
    border: none;
    height: 15px
}

.meter {
    height: 15px;
    background: #3c3;
    width: 0%;
    border-radius: 20px;
    border: none
}

.progress-circle {
    border-radius: 50%;
    border: 3px solid #3c3;
    background: #fff;
    height: 24px;
    width: 24px;
    position: relative;
    margin-top: -20px;
    float: left;
    z-index: 2
}

.steps {
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    position: relative;
    z-index: 0;
    margin-top: -16px;
    left: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 1px 0 0 4px
}

.dotted_line {
    border: none;
    border-bottom: 2px dotted #dbe0e1;
    margin: 15px 0
}

.header-wrap {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    padding: 12px 30px 7px 30px
}

.heading-survey {
    text-align: center;
    padding-top: 40px
}

.heading-survey h2 {
    font-weight: 900;
    font-size: 32px;
    color: #000;
    text-align: center
}

.heading-survey h3 {
    font-weight: 500;
    font-size: 19px;
    color: #000;
    margin-top: 0;
    text-align: center
}

.progress-bar {
    background-color: #00bf5f;
    position: relative;
    z-index: 1;
    transition: width .8s ease;
    border-top: 2px solid #fff;
    border-bottom: 4px solid #fff
}

.heading-survey h4 {
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-top: 5px
}

.form-control {
    height: calc(1.5em + .75rem + 6px);
    border-radius: 0
}

.btn-back, .btn-exclusive, .btn-next {
    position: relative
}

.btn-exclusive, .btn-next, .btn-next-loading, .btn-save {
    font-style: normal;
    font-weight: 700;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 24px;
    line-height: 45px;
    padding: 0;
    position: relative;
    transition: all .15s linear;
    width: 100%;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, .25);
    border: 0;
    margin-top: 10px;
    background-image: linear-gradient(#00bf5f, #00bf5f);
    border-color: transparent;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px
}

.btn-exclusive:after, .btn-next:after, .btn-next-loading:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    clear: both;
    transform: rotate(270deg);
    position: absolute;
    top: 18px;
    right: 28px
}

.btn-exclusive:hover, .btn-next:hover, .btn-next-loading:hover {
    color: #fff
}

.btn-back, .btn-edit {
    font-style: normal;
    font-weight: 300;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
    transition: all .15s linear;
    width: 100%;
    border: none;
    background: #d0d0d0;
    border-color: #d0d0d0;
    color: #fff;
    max-width: 150px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, .25);
    margin-top: 10px
}

.btn-back:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    clear: both;
    transform: rotate(90deg);
    position: absolute;
    top: 17px;
    left: 25px
}

.btn-edit, .btn-edit:hover{
    color: #000;
    text-decoration: none
}

.btn-back:hover {
    color: #fff;
    text-decoration: none
}

input#electricity_bill {
    width: 100%
}

.free-quotes h4 {
    color: #3c3;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin-top: 8px
}

h1.header-heading-h1 {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px
}

h1.header-heading-h1 span {
    font-size: 30px;
    font-weight: 700
}

.logo h1 {
    text-align: center;
    font-weight: 700
}

.banner-form-wrap h3 {
    font-weight: 800;
    font-size: 24px;
    color: #555;
    text-align: left;
    margin: 20px 0
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none
}

.banner-form-wrap h4 {
    text-align: center;
    font-size: 12px
}

.banner-form-wrap p {
    color: #000;
    text-align: left;
    line-height: 22px;
    font-size: 15px;
    margin: 10px 0
}

.mail-form input:focus {
    outline: 0
}

.checkbox.checkbox--no-border input[type=checkbox] {
    height: 15px;
    width: 5%;
    display: inherit
}

.home-owner {
    text-transform: uppercase;
    font-size: 14px
}

.mail-form input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.mail-form .form-group label {
    color: #000;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    display: block;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase
}

h2.form-question-h2 {
    font-weight: 500;
    font-size: 26px;
    color: #000;
    text-align: center;
    margin-top: 28px;
    line-height: 28px;
    border-top: #d1d1d1 dashed 1px;
    padding-top: 20px
}

.header-sub-txt, .secure-text {
    text-align: center;
    padding-bottom: 5px
}

.mail-form input:focus {
    outline: 0
}

.solar-power-option-content {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 20px 30px;
    bottom: -35px;
    -webkit-box-shadow: 0 0 16px 0 rgba(205, 205, 205, .41);
    -moz-box-shadow: 0 0 16px 0 rgba(205, 205, 205, .41);
    box-shadow: 0 0 16px 0 rgba(205, 205, 205, .41)
}

.solar-power-option-content h2 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px
}

.solar-power-option-content p {
    text-align: center;
    font-weight: 300
}

#msform fieldset:not(:first-of-type) {
    display: none
}

.form-error-message, div.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: none
}

.form-group label.error {
    color: red !important;
    font-size: 14px !important;
    margin-bottom: 10px;
    text-transform: capitalize !important;
    font-weight: 400 !important
}

.step__city-state {
    display: none
}

footer {
    font-size: 11px;
    line-height: 20px;
    color: #000;
    padding-top: 50px;
}

footer .container {
    font-size: 11px;
    max-width: 768px
}

footer p {
    font-size: 11px;
    line-height: 22px;
    font-weight: 300
}

.solar-footer-content p {
    font-size: 11px;
    padding-bottom: 15px
}

.footer-menu a, footer li a {
    font-size: 11px;
    color: #3c3;
    text-transform: uppercase
}

footer li a {
    font-size: 11px;
    padding: 0 8px 0 0
}

.solar-footer-content {
    font-size: 11px;
    padding: 0 5px;
}

p.copyright {
    padding: 0 0 5px 0
}

p.copyright a:hover {
    color: #000;
    text-decoration: underline
}

.footer-menu li {
    display: inline-block;
    font-size: 11px
}

footer a {
    color: #000;
    font-weight: 300
}

div#utility_provider {
    margin-top: 20px;
    margin-bottom: 20px
}

.progress_box {
    margin: 0
}

.bill_bar {
    display: block
}

.bill_bar span.value_min {
    display: inline-block;
    margin-right: 5px
}

.bill_bar span.value_max {
    display: inline-block;
    margin-left: 5px
}

.bill_bar .box_range {
    width: 100%;
    display: inline-block;
    text-align: center
}

.bill_bar .box_range output::before {
    content: "$"
}

.terms_txt {
    font-size: 12px;
    line-height: 18px;
    display: block;
    font-weight: 300;
    margin: 10px 3px;
    color: #333;
}

.terms_txt a, .terms_txt a:hover {
    color: blue;
    text-decoration: underline
}

.v2-page {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.428571429;
    color: #000;
    background-color: #fff;
    background-image: url(../images/bgtexture.png)
}

.v2-page .heading-survey {
    text-align: center;
    padding-top: 0
}

.v2-page .heading-survey h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000
}

.v2-page .heading-survey h4 {
    color: #000;
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
    margin-bottom: 10px
}

.v2-page .progress {
    border: 2px solid #565656;
    margin: 0 auto;
    max-width: 90%;
    border-bottom: 0;
    background-color: #fff;
    height: 23px
}

.v2-page .form_box {
    border-radius: 5px;
    background: #fff;
    margin-top: -2px;
    border: 2px solid #565656;
    position: relative;
    z-index: 2
}

.v2-page .form_nav {
    font-size: 16px;
    border-bottom: 0;
    padding: 5px;
    font-weight: 300
}

.v2-page .form_nav span {
    font-size: 16px;
    font-weight: 300
}

.v2-page .form fieldset {
    padding: 20px;
    width: 100%;
    height: auto
}

.v2-page .form_box-question {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    color: #000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
}

.banner-form-wrap {
    margin-bottom: 60px
}

.form .form-btns {
    max-width: 205px
}

@media (max-width: 320px) {
    .form .form-btns {
        max-width: 120px
    }
}

.radio-btn {
    overflow: hidden;
    position: relative;
    clear: both
}

.radio-btn input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
    opacity: 0 !important;
    width: 1px;
    height: 1px
}

.radio-btn label {
    background-color: #ededed;
    cursor: pointer;
    display: table;
    font-weight: 300;
    line-height: 1;
    padding: 10px 10px 10px 40px;
    position: relative;
    transition: all .15s linear;
    white-space: normal;
    margin-bottom: 10px;
    min-height: 40px;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 5px
}

.radio-btn label:before {
    content: " ";
    background-color: #fff;
    pointer-events: none;
    height: 15px;
    width: 15px;
    transition: border ease .15s;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
    margin-left: 10px;
    background-size: 40px;
    border-radius: 100%
}

.radio-btn label span {
    display: table-cell;
    vertical-align: middle
}

.radio-btn input:checked ~ label {
    background: rgba(0, 191, 95, .3)
}

.radio-btn input:checked ~ label:before {
    background-color: #565656;
    pointer-events: none;
    height: 15px;
    width: 15px;
    transition: border ease .15s;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
    margin-left: 10px;
    background-size: 40px;
    border-radius: 100%
}

.form .form-control {
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 400;
    border: solid 1px #000;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

.form-group {
    margin-bottom: 0
}

.form select.form-control {
    height: auto !important;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTNweCcgaGVpZ2h0PScxMnB4Jz48cGF0aCBmaWxsLXJ1bGU9J2V2ZW5vZGQnICBmaWxsPSdyZ2IoNzMsIDgwLCA4NyknIGQ9J00wLjEyOSwwLjUwNSBMNi4zNzcsMTEuMzU3IEwxMi42MjUsMC41MDUgQzguNDYwLDAuNTA1IDQuMjk0LDAuNTA1IDAuMTI5LDAuNTA1IFonLz48L3N2Zz4g) no-repeat right .75rem center;
    background-size: 12px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    padding-left: 15px
}

.box_range {
    position: relative;
    display: block
}

.box_range output {
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 1;
    margin-left: -10px;
    margin-bottom: 5px
}

.intcont {
    position: relative;
    display: block
}

.intcont::before {
    content: "$30";
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 300
}

input[type=range] {
    height: 10px;
    -webkit-appearance: none;
    margin: 0 0 40px;
    width: 100%;
    -moz-appearance: initial !important;
    background: #e0e0e0
}

.intcont::after {
    content: "$900";
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 300
}

input[type=range]:focus {
    outline: 0
}

input#electricity_bill {
    width: 100%;
    background: #ededed;
    border: 1px solid #b2b3b2
}

p.form_box-desc {
    font-weight: 300;
    margin-top: 0
}

#phoneContainer label.label, .address_change label {
    font-size: 15px;
    color: #000;
    font-weight: 300
}

.radio-btn label:hover {
    background-color: #ccc
}

#add-change span {
    font-weight: 300;
    color: #000;
    font-size: 15px
}

a.change-address.float-right {
    font-size: 14px;
    font-weight: 300
}

section.solar-power-content-wrap {
    padding: 80px 0
}

.solar-power-icon-content {
    text-align: center;
    max-width: 585px;
    border: 1px solid #edf1f7;
    border-radius: 10px;
    padding: 14px;
    padding-top: 50px;
    margin: -50px auto 20px;
    min-height: 250px;
    background: #edf1f7
}

.solar-power-icon {
    border-radius: 50%;
    background: #3c3;
    max-width: 134px;
    height: 134px;
    margin: 0 auto;
    padding: 5%;
    border: 7px solid #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    vertical-align: middle
}

.icon-file-text2, .icon-phone, .icon-point-right, .solar-power-icon .icon-ico_bank, .solar-power-icon .icon-ico_search, .solar-power-icon .icon-ico_time {
    color: #fff;
    font-size: 62px;
    vertical-align: middle;
    font-weight: 500;
    position: relative;
    top: 10px
}

.solar-power-icon-content h3 {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    padding: 15px 0;
    font-weight: 700
}

.solar-power-icon-content p {
    font-size: 16px;
    text-align: center;
    font-weight: 300
}

.thankyou-page .logo h1 {
    text-align: center
}

.thankyou-text {
    padding: 30px 0;
    text-align: center
}

.thankyou-page .solar-power-content-wrap {
    padding: 0 0 40px 0
}

.thankyou-page .thank-txt h3 {
    font-weight: 900;
    font-size: 32px;
    color: #555;
    text-align: center
}

.thankyou-page .thank-txt h4 {
    font-weight: 500;
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 10px
}

.thankyou-page .solar-power-icon {
    background: 0 0;
    max-width: 134px;
    height: 134px;
    border: 7px solid transparent;
    padding: 0
}

.banner-form-wrap ul {
    margin-left: 20px
}

.banner-form-wrap ul li {
    text-align: left;
    line-height: 22px;
    font-size: 15px;
    margin: 5px 0;
    list-style-type: upper-alpha;
    padding: 0 8px
}

#loader {
    display: none;
    min-height: 250px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    font-size: 28px
}

#loader h1 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#loader h2 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 14px;
    color: red
}

#loader p {
    display: none;
    padding: 2px 0;
    font-size: 12px;
    text-align: center
}

#loader p.complete {
    color: #888
}

#loader p.complete span.status {
    display: inline
}

#loader p span.status {
    display: none;
    color: green;
    font-weight: 700
}

#loader p span.status {
    display: none;
    color: green;
    font-weight: 700
}

#loader p.in-progress {
    animation: blink 2s linear infinite
}

@keyframes blink {
    0% {
        opacity: 0
    }
    50% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007bff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 .6s infinite
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 .6s infinite
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 .6s infinite
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 .6s infinite
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(24px, 0)
    }
}

.solar-power-quotes {
    max-width: 600px;
    padding-bottom: 35px;
    margin: 0 auto
}

.solar-power-quote-content h2 {
    font-size: 14px;
    font-weight: 700
}

.solar-power-quote-content p {
    font-size: 12px
}

input.error {
    border: 2px solid red !important
}

#work-in-progress {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99
}

#work-in-progress .progress, #work-in-progress progress[value] {
    width: 100%;
    border: none;
    margin: 3px 0;
    height: 5px;
    display: block;
    appearance: none;
    -webkit-appearance: none
}

#work-in-progress .progress::-webkit-progress-bar, #work-in-progress progress[value]::-webkit-progress-bar {
    background-color: #e2ecfe
}

#work-in-progress .progress::-webkit-progress-value, #work-in-progress progress[value]::-webkit-progress-value {
    background-color: #387ef5
}

#work-in-progress .progress-materializecss {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #e0feef;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden
}

#work-in-progress .progress-materializecss .indeterminate {
    background-color: #00bf5f
}

#work-in-progress .progress-materializecss .indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate 2.1s cubic-bezier(.65, .815, .735, .395) infinite
}

#work-in-progress .progress-materializecss .indeterminate:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate-short 2.1s cubic-bezier(.165, .84, .44, 1) infinite;
    animation-delay: 1.15s
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }
    60% {
        left: 100%;
        right: -90%
    }
    100% {
        left: 100%;
        right: -90%
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    60% {
        left: 107%;
        right: -8%
    }
    100% {
        left: 107%;
        right: -8%
    }
}

#footer-slidenum {
    color: #999
}

#street_address_predictions label {
    margin-bottom: 15px
}

#street_address_predictions .address-autocomplete {
    display: block;
    padding: 8px 30px 5px;
    margin: 3px 0;
    transition: .48s;
    line-height: 17px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(#efefef, #e0e0e0);
    color: #666;
    border-radius: 12px;
    margin-bottom: 15px;
    border: #e0e0ea solid 1px;
    cursor: pointer
}

.grecaptcha-badge {
    display: none
}

.logo {
    margin: 0 auto;
}

.logo h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    margin-right: -40px;
    max-height:150px;
}

@media (max-width: 1200px) {
    .logo h1 {
        font-size: 30px
    }
}

@media (max-width: 992px) {
    /*.logo img {*/
    /*    width: 100%;*/
    /*    max-width: 55px;*/
    /*    margin: 0 auto;*/
    /*    display: block;*/
    /*    height: auto*/
    /*}*/

    /*.logo h1 {*/
    /*    text-align: center*/
    /*}*/
}

.logo h1 a {
    color: #555;
    font-weight: 700
}

@media (max-width: 992px) {
    .logo h1 {
        font-size: 22px
    }
}

@media (max-width: 480px) {
    .logo h1 {
        font-size: 18px
    }
}

.logo h1 span {
    color: #48c353;
    font-weight: 700
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
    border: 0 solid #000;
    height: 25px;
    width: 25px;
    border-radius: 40px;
    background: #00bf5f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0
}

@media (max-width: 320px) {
    .heading-survey h3 {
        font-size: 19px
    }

    .v2-page .heading-survey h4 {
        font-size: 13px
    }
}

@media (max-width: 375px) {
    .btn-next:after {
        right: 18px
    }

    .btn-back:before {
        left: 15px
    }

    .btn-back, .btn-next {
        font-size: 22px
    }
}

@media (max-width: 320px) {
    .btn-next:after {
        right: 10px
    }

    .btn-back:before {
        left: 10px
    }
}

.footer-menu a:hover {
    color: #000;
    text-decoration: underline
}

.custom-select:focus {
    box-shadow: none
}

@media (max-width: 992px) {
    .footer-menu ul {
        text-align: left;
        padding: 10px 0 5px 0
    }
}

input::selection {
    background: rgba(0, 191, 95, .3)
}

input::-moz-selection {
    background: rgba(0, 191, 95, .3)
}

::selection {
    background: rgba(158, 158, 158, .3)
}

::-moz-selection {
    background: rgba(158, 158, 158, .3)
}

.btn.focus, .btn:focus {
    box-shadow: none
}

.form-btns.ml-auto.text-right.btn-last-submit {
    max-width: 140px
}

.col-last {
    max-width: 170px
}

@media (max-width: 480px) {
    .col-last {
        max-width: 110px
    }

    .col-last .just-text {
        border: 0;
        background: 0 0;
        box-shadow: none;
        color: #333;
        font-size: 16px
    }

    .col-last .just-text:before {
        border-top: 10px solid #505050;
        left: 6px
    }
}

@media (max-width: 420px) {
    .col-last {
        max-width: 100%;
        padding-right: 0;
        flex-basis: 1;
        height: 30px;
        margin-top: -15px
    }

    .col-last .just-text {
        max-width: 80px;
        margin: 0
    }

    .col-scale {
        flex-basis: auto
    }
}

@media (max-width: 320px) {
    .btn-back:before {
        left: 5px
    }
}

.progress {
    position: relative;
    z-index: 1;
    overflow-x: hidden
}

.progress:after {
    content: '';
    background: url(../images/prog-spacer.png);
    background-size: 20.2%;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 1
}

.es .btn-back, .es .btn-next {
    font-size: 19px !important
}

.es .btn-next:after {
    right: 13px !important
}

@media (max-width: 372px) {
    .es .btn-back, .es .btn-next {
        font-size: 16px !important
    }

    .es .btn-next:after {
        right: 7px !important
    }
}

@media (max-width: 320px) {
    .es .btn-back, .es .btn-next {
        font-size: 14px !important
    }
}

.es .btn-final {
    font-size: 15px !important
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%
}

#exclusive, #exclusive-inline {
    display: none
}

.exclusive-overlay {
    background: #efefef;
    min-height: 840px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll
}

.exclusive-overlay .exclusive-body {
    min-height: 1450px
}

.exclusive-body header {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    background-color: #fff
}

.exclusive-body h1 {
    font-size: 1.1em;
    margin: 7px;
    padding-top: 16px;
    height: 55px;
    vertical-align: center
}

.exclusive-body img {
    margin: 7px;
    width: 90px;
    height: 55px
}

#exclusive-inline .exclusive-body .container {
    background: #efefef;
    padding: 50px
}

.exclusive-body h2 {
    text-align: center;
    font-size: 1em;
    margin: 15px 0
}

.exclusive-body ol {
    margin: 0 30px;
    list-style: none;
    counter-reset: item
}

.exclusive-body li {
    font-size: .9em;
    margin: 17px 0 17px 17px;
    padding-left: 20px;
    counter-increment: item;
    position: relative
}

.exclusive-body li:before {
    position: absolute;
    top: 1px;
    left: -2em;
    content: counter(item);
    background: #00bf5f;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: center;
    font-size: 10px
}

.exclusive-body p {
    font-size: .9em;
    font-weight: 700;
    text-align: center
}

.exclusive-body .buttons {
    text-align: center;
    margin: 25px 0
}

.exclusive-body button {
    width: auto;
    padding: 5px 45px;
    font-size: 1em
}

.exclusive-body h1 span, .exclusive-body h2 span, .exclusive-body li span, .exclusive-body p span {
    font-weight: 700
}

@media (max-width: 640px) {
    .exclusive-body .container {
        padding: 10px
    }

    .exclusive-body h1 {
        margin: 7px;
        padding-top: 7px
    }

    .exclusive-body header h1 span {
        display: block
    }
}

.prepare-for-call {
    margin: auto
}

.prepare-for-call .notice {
    display: block;
    background-color: #f1f0f1;
    border: 3px solid #fff;
    max-width: 520px;
    padding: 15px 5px 10px 5px;
    margin: auto;
    font-size: 1.3rem;
    text-align: center
}

.prepare-for-call .notice span {
    color: #e6442e
}

.prepare-for-call .incoming-call {
    width: 290px;
    margin: auto;
    background: #4d4d4d;
    color: #fff;
    border-radius: 35px;
    box-shadow: 8px 7px 5px -6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 8px 7px 5px -6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 8px 7px 5px -6px rgba(0, 0, 0, .3)
}

.prepare-for-call .incoming-call h4, .prepare-for-call .incoming-call p {
    margin: 25px 0;
    text-align: center
}

.prepare-for-call .incoming-call div {
    width: 290px;
    background-color: #fff;
    border: 1px #4d4d4d solid;
    border-radius: 0 0 35px 35px;
    margin-top: 0
}

.prepare-for-call .phone {
    text-align: center
}

.prepare-for-call .phone p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center
}

.prepare-for-call .phone img {
    z-index: 2;
    margin-top: -15px
}

.prepare-for-call .testimony {
    background: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 8px 7px 5px -6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 8px 7px 5px -6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 8px 7px 5px -6px rgba(0, 0, 0, .3)
}

.prepare-for-call .testimony h3 {
    padding: 10px 5px;
    font-size: 24px;
    font-weight: 700;
    text-align: center
}

.prepare-for-call .testimony h4 {
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center
}

section.solar-power-content-wrap {
    padding: 80px 0
}

.solar-power-icon-content {
    text-align: center;
    max-width: 585px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 14px;
    padding-top: 50px;
    margin: 0 auto 20px;
    min-height: 250px;
    background: #f8f8f8
}

.solar-power-icon {
    border-radius: 50%;
    background: #48c353;
    max-width: 134px;
    height: 134px;
    margin: 0 auto;
    padding: 5%;
    border: 7px solid #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    vertical-align: middle
}

.icon-file-text2, .icon-phone, .icon-point-right, .solar-power-icon .icon-ico_bank, .solar-power-icon .icon-ico_search, .solar-power-icon .icon-ico_time {
    color: #fff;
    font-size: 62px;
    vertical-align: middle;
    font-weight: 500;
    position: relative;
    top: 10px
}

@media (max-width: 992px) {
    .icon-file-text2, .icon-phone, .icon-point-right, .solar-power-icon .icon-ico_bank, .solar-power-icon .icon-ico_search, .solar-power-icon .icon-ico_time {
        top: 0
    }
}

.solar-power-icon-content h3 {
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    padding: 15px 0;
    font-weight: 700
}

.solar-power-icon-content p {
    font-size: 16px;
    text-align: center;
    font-weight: 300
}

.coreg-offer {
    width: 100%;
    border-radius: 10px;
    border: 3px solid #565656;
    background: #f8f8f8;
    margin: 0 auto 60px auto
}

.coreg-offer .offer-head {
    background: #48c353;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: -1px;
    margin-right: -.5px
}

.coreg-offer .offer-head h3, .coreg-offer .offer-head h4 {
    color: #fff;
    text-align: center;
    width: 100%
}

.coreg-offer .offer-head h3 {
    font-weight: 900;
    padding: 20px 0 0 0;
    font-size: 2em
}

.coreg-offer .offer-head h4 {
    font-weight: 300;
    padding: 10px 0 20px 0
}

.coreg-offer .offer-body p, .coreg-offer p {
    text-align: center;
    color: #313131
}

.coreg-offer .offer-body p:first-child {
    color: orange;
    font-size: 16px;
    padding: 20px 0 10px 0;
    font-weight: 700
}

.coreg-offer p:last-child {
    padding-bottom: 20px
}

.coreg-offer .offer-body ul {
    font-size: 1em;
    padding-bottom: 20px
}

.coreg-offer .offer-body li {
    padding-bottom: 5px;
    background: url(/assets/images/list-arrow.svg) no-repeat left 4px;
    padding-left: 55px;
    padding-top: 15px
}

.coreg-offer button {
    font-size: 1.7em;
    max-width: 400px;
    margin: 0 auto 20px auto;
    display: block
}

.coreg-offer button span {
    font-size: 30px;
    padding-left: 9px
}

.coreg-offer img {
    float: right;
    max-width: 100%;
    width: 230px
}

.solar-power-icon-content {
    min-height: 290px;
    margin-top: 5px
}

@media (max-width: 1092px) {
    .coreg-offer .offer-body ul {
        font-size: .9em
    }

    .coreg-offer .offer-body li {
        padding-bottom: 5px;
        background: url(/assets/images/list-arrow.svg) no-repeat left 4px;
        padding-left: 48px;
        padding-top: 12px;
        background-size: 42px
    }

    .coreg-offer p:last-child {
        font-size: 16px
    }

    .coreg-offer .offer-body p:first-child {
        font-size: 17px;
        padding: 20px 40px
    }

    .coreg-offer .offer-head h4 {
        font-size: 18px
    }

    .coreg-offer .offer-head h3 {
        padding: 20px 20px 0 20px;
        font-size: 1.65em
    }
}

@media (max-width: 845px) {
    .solar-power-icon-content {
        min-height: unset;
        margin-top: 5px;
        padding-top: 15px;
        padding-bottom: 15px
    }

    .coreg-offer .offer-head h3 {
        font-size: 1.6em
    }

    .coreg-offer .offer-head h4 {
        font-size: 14px;
        padding: 10px 20px
    }

    .coreg-offer .offer-body p:first-child {
        font-size: 14px;
        padding: 20px 30px
    }

    .coreg-offer .offer-body ul {
        font-size: .7em;
        padding-left: 0 !important
    }

    .coreg-offer .offer-body li {
        padding-bottom: 5px;
        padding-left: 34px;
        padding-top: 11px;
        background-size: 30px;
        padding-right: 20px
    }

    .coreg-offer p:last-child {
        font-size: 13px
    }

    .coreg-offer button {
        font-size: 1.4em;
        max-width: 280px;
        margin: 0 auto 20px auto;
        display: block
    }

    .coreg-offer button span {
        font-size: 26px;
        padding-left: 9px
    }
}

@media (max-width: 635px) {
    .coreg-offer img {
        float: none;
        max-width: 100%;
        margin: 0 auto;
        display: block
    }

    .coreg-offer .offer-body ul {
        font-size: .7em;
        padding-left: 60px !important
    }
}

@media (max-width: 480px) {
    .coreg-offer .offer-head h3 {
        font-size: 1.4em
    }

    .coreg-offer .offer-body ul {
        padding-left: 40px !important
    }

    .coreg-offer button.next-button {
        font-size: 26px;
        margin-bottom: 20px
    }

    .coreg-offer p:last-child {
        font-size: 13px;
        padding: 0 20px 20px
    }
}

@media (max-width: 320px) {
    .coreg-offer .offer-body ul {
        padding-left: 20px !important
    }

    .coreg-offer .offer-body p:first-child {
        padding: 10px
    }

    .coreg-offer button.next-button {
        max-width: 240px
    }
}

.banner-form-wrap h3 {
    font-weight: 500;
    font-size: 28px;
    color: #555;
    text-align: left;
    margin: 35px 0
}

.banner-form-wrap h4 {
    text-align: left;
    font-size: 20px;
    margin: 25px 0
}

.banner-form-wrap ol, .banner-form-wrap ul {
    margin-left: 20px;
    font-size: 15px;
    color: #000
}

.banner-form-wrap li {
    text-align: left;
    color: #000
}

.hide, .hidden {
    display: none;
}

.text-xs {
    font-size: 11px;
}

#tcpa-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#tcpa-modal2 {
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 35px auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
    max-width: 1180px;
    height: 95vh;
}

.tcpa-close {
    display: inline-block;
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.tcpa-content-container {
    padding-top: 15px;
    font-size: 12px;
    overflow: auto;
    height: 90vh;
    margin-top: -10px;
    padding-bottom: 15px;
}

.tcpa-content-container h1 {
    font-size: 28px;
}

.tcpa-content-container h2 {
    font-size: 24px;
}

.tcpa-content-container h3 {
    font-size: 20px;
}

.tcpa-content-container h4 {
    font-size: 16px;
}

.tcpa-content-container p {
    margin: 7px 0 7px 0;
}

.tcpa-close:hover,
.tcpa-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.strong {
    font-weight: bold;
}

.customer-edit {
    padding: 11px 8px;
    background-color: #efefe4;
}
.customer-edit .parameter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: left;
}

.customer-edit .parameter div:nth-of-type(1) {
    flex-basis: 8rem;
}

/*.customer-edit dl dd {*/
/*    display: flex;*/
/*    padding-bottom: 10px;*/
/*    flex-grow: 1;*/
/*}*/
