/*------------------------------------------
Responsive Grid Media Queries - 1280, 1024, 768, 480
1280-1024   - desktop (default grid)
1024-768    - tablet landscape
768-480     - tablet
480-less    - phone landscape & smaller
-----------------------------------------*/

@media only screen and (max-width: 768px) {
	.free-quotes {
		color: #33cc33;
		font-size: 22px;
	}
	.top-banner {
		height: auto;
		background-size: cover;
	}
	.solar-power-option-content {
		position: relative;
		padding: 24px 20px;
		margin-top: 30px;
	}
	@media (max-width: 480px) {
		.solar-power-option-content {
			margin-top: 40px;
		}
	}
	.solar-power-option-content h2 {
		font-size: 24px;
	}
	footer p {
		text-align: center;
	}
	.footer-menu ul {
		text-align: center;
	}
	.free-quotes h4 {
		font-size: 18px;
		text-align: center;
	}
	.banner-form-wrap {
		margin: 28px 0;
		padding: 25px 30px;
	}
	.top-banner {
		padding: 0;
	}
	.thankyou-page .thank-txt h3 {
		font-size: 24px;
	}
	footer {
		text-align: center;
	}
}

@media only screen and (max-width: 380px) {
	.free-quotes {
		font-size: 18px;
	}
	.solar-power-option-content h2 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 400px) {
	.top-banner {
		/*height: 90%;
        height: 90vh;*/
	}
	.free-quotes h4 {
		font-size: 16px;
	}
	.header-wrap {
		padding: 6px 18px;
	}
	.banner-form-wrap {
		margin: 10px 0;
		padding: 7px 14px;
	}
	h1.header-heading-h1 span {
		font-size: 22px;
		font-weight: 700;
		line-height: 30px;
	}
	h1.header-heading-h1 {
		font-size: 18px;
		line-height: 20px;
	}
	.banner-form-wrap p {
		line-height: 17px;
		font-size: 14px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.dotted_line {
		margin: 8px 0;
	}
	.mail-form .form-group label {
		font-size: 16px;
		line-height: 30px;
		margin-top: 2px;
	}
	button.next-button {
		font-size: 16px;
		padding: 6px 0;
		margin-bottom: 6px;
	}
}

@media only screen and (min-width: 992px) and (min-height: 800px) {
	.solar-power-option-content p, .solar-power-quote-content p,
	.solar-power-option-content h2, .solar-power-quote-content h2 {
		text-align: left;
	}
	.solar-power-option-content:before {
		content: '1';
		position: absolute;
		font-family: monospace;
		font-size: 90px;
		top: -10px;
		left: -53px;
		background: white;
		padding: 10px;
		height: 118px;
		line-height: 1;
		width: 118px;
		z-index: 1;
		border-radius: 70px;
		color: #f3cd3c;
		text-shadow: 1px 2px 3px rgb(85 85 85 / 30%);
		text-align: center;
		border: 3px solid #555555;
	}
	.solar-power-option-content:after {
		content: '#';
		position: absolute;
		font-size: 35px;
		top: 1px;
		left: -32px;
		text-shadow: 1px 2px 3px rgb(85 85 85 / 30%);
		line-height: 1;
		z-index: 1;
		border-radius: 70px;
		color: #f3cd3c;
	}
	.solar-power-option-content, .solar-power-quote-content {
		padding: 20px 30px 20px 80px;
		box-shadow: 0px 9px 15px 8px rgb(0 0 0 / 18%);
		border-radius: 30px;
	}
}

@media only screen and (min-width: 768px) and (min-height: 800px) {
	section.solar-power-option {
		margin-top: -160px;
	}
	.solar-power-option-content, .solar-power-quote-content {
		padding-top: 23px;
		margin-bottom: 60px;
		position: relative;
		width: 80%;
	}
}
